/* Estilos personalizados para el toaster de notificaciones */

.toasterCustom {
    &.success {
        background-color: rgb(240 253 244);
        color: rgb(34 197 94);

        & svg > * {
            fill: rgb(34 197 94);
        }
    }
    &.error {
        background-color: rgb(253 240 240);
        color: rgb(197 34 34);

        & svg > * {
            fill: rgb(197 34 34);
        }
    }
    &.warning {
        background-color: rgb(253 253 240);
        color: rgb(197 197 34);

        & svg > * {
            fill: rgb(197 197 34);
        }
    }
    &.info {
        background-color: rgb(240 240 253);
        color: rgb(34 34 197);

        & svg > * {
            fill: rgb(34 34 197);
        }
    }
}